@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('../css/variables.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    background-color: var(--color-primary-1);
    padding: 0;
}

/*navbar*/
/*.navbar{
    padding: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}*/

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu{
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.menu a{
    color: var(--color-neutral-9);
    text-decoration: none;
    transition: all 0.3s ease;
}
.menu a:hover{
    /*font-weight: 600;*/
    opacity: 0.7;
    /*color: var(--color-primary-2);
    /*border-bottom: 2px solid var(--color-neutral-9);*/
    box-shadow: 2px 2px 2px 2px rgba(255, 150, 130, 0.8); 
    border-radius: 5px;
}
.logo{
    width: 90px;
}

/*=============
  responsividade navbar
  =============*/

  .menu-toggle{
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span{
    width: 25px;
    height: 3px;
    background: #000;
    border-radius: 2px;
}

/* mobile */
@media (max-width: 768px){

    .menu-toggle{
        display: flex;
        z-index: 1000;
    }

    .menu{
        position: absolute;
        top: 70px;
        right: 20px;
        background: var(--color-primary-1);
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        gap: 15px;
        z-index: 999;

        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;

        transition: 0.3s;
    }

    .menu.active{
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }
}

/*hero*/
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
}

.hero-text{
    max-width: 420px;
}

.hero-text h1{
    color: var(--color-neutral-9);
    font-size: 64px;
    font-weight: 800;
    line-height: 1.05;
    margin-bottom: 16px;
}

.hero-text p{
    color: var(--color-neutral-9);
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 18px;
    max-width: 340px;
}

.btn{
    position: relative;
    display: inline-block;

    padding: 14px 26px;
    border-radius: 14px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-neutral-0);
    text-decoration: none;

    background: linear-gradient(180deg, #f05c48, #e03a2f); /* degrade parecido */
    transition: transform 0.2s ease;

    /* cria a borda clara na base */
    box-shadow: 0 8px 0px rgba(255, 150, 130, 0.8); 
}

/* quando passar o mouse, o botão desce até encostar na borda */
.btn:hover{
    transform: translateY(3px);
    box-shadow: 0 5px 0 rgba(255,150,130,0.8);
}

.hero-media img{
    width: 520px;
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    outline: 20px solid transparent;
    outline-offset: -20px;
    box-shadow: 0 0 40px 10px rgba(238, 142, 142, 0.15); /* FADE */
}

/*review*/
.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url('../img/backgound-review.webp');
    background-size: cover;      /* cobre toda a caixa sem distorcer */
    background-position: center; /* centraliza */
    background-repeat: no-repeat;

    padding: 40px 20px;
    margin-top: 80px;
    gap: 40px;
}


.review-item{
    /*flex: 1;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* alinha o conteúdo */
    align-items: center;
}

.review-item .quote{
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    color: var(--color-neutral-9);
    margin-bottom: 12px;
    line-height: 1.4;
}

.review-item img{
    width: 120px;
    height: auto;
    opacity: 0.85;
    display: block;
    margin: 0 auto;
}

.divider{
    width: 1px;
    height: 120px;
    background: rgba(0, 0, 0, 0.2);
}

/*features section*/
.features{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    gap: 120px;
}

.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.feature .reverse{
    flex-direction: row-reverse;
}

.feature-text .feature-tag{
    color: var(--color-primary-2);
    font-weight: 600;
    font-size: 24px;
}

.feature-text h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 1.1;
    margin: 10px 0 20px 0;
    color: var(--color-neutral-9);
}

.feature-text p{
    font-size: 24px;
    line-height: 1.6;
    color: var(--color-neutral-9);
}

.feature-media img{
    width: 480px;
    /*max-width: 100%;*/
    border-radius: 12px;
    display: block;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .8s ease-out, transform .8s ease-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.animate-zoom {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity .8s ease-out, transform .8s ease-out;
}

.animate-zoom.show {
    opacity: 1;
    transform: scale(1);
}

/*feature-icons*/
.features-icons{
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.icon-item{
    text-align: center;
    flex: 1;
}

.icon-item img{
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.icon-item p{
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-neutral-9);
}

/*cta section*/
.cta-section{
    text-align: center;
    margin: 60px auto;
    padding: 40px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.cta-section h2{
    font-size: 40px;
    font-weight: 800;
    color: var(--color-neutral-9);
    margin-bottom: 20px;
}

/*footer-section*/
.footer{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    margin-top: 40px;
}

.footer-left{
    max-width: 300px;
}

.footer-logo{
    width: 80px;
    margin-bottom: 10px;
}

.footer-left p{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--color-neutral-9);
}

.footer-right{
    display: flex;
    gap: 60px;
}

.footer-column h4{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 12px;
    color: var(--color-neutral-9);
}

.footer-column ul{
    list-style: none;
    padding: 0;
}

.footer-column li{
    margin: 6px 0;
}

.footer-column a{
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-neutral-9);
    transition: opacity 0.3s;
}

.footer-column a:hover{
    /*opacity: 0.6;*/
    box-shadow: 2px 2px 2px 2px rgba(105, 104, 104, 0.2);
    border-radius: 5px;
}

/* BODY */
.auth-body{
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CONTAINER */
.auth-container{
    width: 100%;
    max-width: 400px;
}

/* LOGO */
.auth-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.auth-logo img{
    width: 30px;
}

.auth-logo span{
    font-weight: 700;
    color: #e03a2f;
    font-size: 20px;
}

.logo-link{
    text-decoration: none;
    color: #e03a2f; /* mesma cor da logo */
    font-weight: 700;
    font-size: 20px;
}

/* TÍTULO */
.auth-container h1{
    font-size: 32px;
    margin-bottom: 20px;
}

/* BOTÕES SOCIAIS */
.social-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.social-btn{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.social-btn:hover{
    background: #f1f1f1;
}

/* DIVIDER */
.divider-line{
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

/* FORM */
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.auth-form label{
    font-size: 14px;
}

.auth-form input{
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.error{
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 5px;
}

.auth-form input:focus{
    outline: 2px solid #f05c48;
}

.btn{
    transition: 0.2s;
}

.btn:active{
    transform: scale(0.97);
}

/* BOTÃO PRINCIPAL */
.auth-btn{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* TERMOS */
.terms{
    font-size: 12px;
    margin-top: 10px;
}

.terms a{
    color: red;
    text-decoration: none;
}

/* LOGIN LINK */
.login-link{
    text-align: center;
    font-size: 14px;
}

.login-link a{
    color: red;
    text-decoration: none;
}

/* LAYOUT DASHBOARD*/
.dashboard-body{
    margin: 0;
}

.app{
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar{
    width: 250px;
    background: #fff;
    border-right: 1px solid #eee;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h2{
    color: #e03a2f;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar li{
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}

.sidebar li:hover{
    background: #f3f3f3;
}

.sidebar .active{
    background: #ffeceb;
    color: #e03a2f;
}

/* MAIN */
.main{
    flex: 1;
    padding: 30px;
    background: #fafafa;
}

/* HEADER */
.main-header{
    margin-bottom: 20px;
}

/* INPUT */
.task-input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input{
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* LISTA */
.task-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* tablet */
@media (max-width: 1024px){
    .task-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* mobile */
@media (max-width: 768px){
    .task-list{
        grid-template-columns: 1fr;
    }

        .app{
        flex-direction: column;
    }

    .sidebar{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar ul{
        display: none; /* simplifica mobile */
    }

    .main{
        padding: 20px;
    }

    .task-input{
        flex-direction: column;
    }
}

.task-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border-radius: 12px;
}

.done{
    text-decoration: line-through;
    opacity: 0.6;
    
}

/* TASK */
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    transition: 0.2s;
}

.task-item{
    animation: fadeIn .3s ease;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.task-item:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* LEFT */
.task-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* CHECK */
.check{
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.check.checked{
    background: #e03a2f;
    border-color: #e03a2f;
}

/* TEXTO */
.task-text{
    border: none;
    font-size: 16px;
    outline: none;
    color: #000
}

.task-text.done{
    text-decoration: line-through;
    opacity: 0.6;
}

/* ACTIONS */
.task-actions{
    display: flex;
    gap: 10px;
}

.task-actions button{
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}

.task-actions button:hover{
    opacity: 1;
}

/* MOBILE AJUSTE GERAL */
@media (max-width: 768px){

    .container{
        padding: 0 20px;
    }

    .reviews{
        flex-direction: column;
        gap: 30px;
        text-align: center;
        grid-template-columns: 1fr;
    }

    .divider{
        display: none; /* remove linha no mobile */
    }

    .hero{
        flex-direction: column;
        text-align: center;
    }

    .hero-text{
        max-width: 100%;
    }

    .hero-text h1{
        font-size: 36px;
    }

    .hero-text p{
        font-size: 18px;
        max-width: 100%;
    }

    .hero-media img{
        width: 100%;
        max-width: 320px;
    }

    .feature{
        flex-direction: column;
        text-align: center;
    }

    .feature.reverse{
        flex-direction: column;
    }

    .feature-media img{
        width: 100%;
    }

    .features-icons{
        flex-wrap: wrap;
        gap: 20px;
    }

    .icon-item{
        flex: 1 1 45%;
    }

    .footer{
        flex-direction: column;
        gap: 30px;
    }
}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* PRIORIDADE */
.priority {
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
}

.priority-high { background: #ff4d4f; }
.priority-medium { background: #faad14; }
.priority-low { background: #52c41a; }

/* DATA */
.date-tag {
    margin-left: auto;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 6px;
    background: #f0f0f0;
}

.date-tag.overdue {
    background: #ffccc7;
    color: #a8071a;
}

.date-tag.no-date {
    background: #e6f7ff;
}

/* TEXTO */
.done {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-item {
    cursor: grab;
    transition: 0.2s;
}

.task-item:active {
    cursor: grabbing;
    opacity: 0.6;
}

.task-item:hover {
    background: #f5f5f5;
}